@using Microsoft.AspNetCore.Identity
@model IEnumerable<GigHub.Models.Gig>
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <ul>
        @foreach (var gig in Model)
        {
            <li>@gig.DateTime - @gig.Artist.FullName</li>
        }
    </ul>
}

