/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Bootstrap Overrides */
body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

    .form-control:focus {
        border-color: #2196F3;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: rgba(205, 40, 39, 0.55);
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

    .navbar-brand {
        font-weight: 700;
    }
    .navbar-inverse .btn-link {
        color: #fff;
    }

.btn {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}