/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.voffset2 { margin-top: 2px; }
.voffset5 { margin-top: 5px; }
.voffset10 { margin-top: 10px; }
.voffset20 { margin-top: 20px; }
.voffset40 { margin-top: 40px; }
.voffset80 { margin-top: 80px; }

/* Bootstrap Overrides */
body {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    height: 44px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

    .form-control:focus {
        border-color: #2196F3;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #fff;
        background-color: rgba(205, 40, 39, 0.55);
    }

    @media (max-width: 767px) {
        .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #fff; }
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

    .navbar-brand {
        font-weight: 700;
    }
    .navbar-inverse .btn-link {
        color: #fff;
    }

.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    -ms-border-radius: 9px;
    border-radius: 9px;
}

/* Page level styles */
.gigs {
    list-style: none;
}

.gigs > li {
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .date {
    background-color: #ff4342;
    color: #ffffff;
    text-align: center;
    width: 60px;
    -ms-border-radius: 8px;
    border-radius: 8px;
}

.gigs > li .date .month {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        padding: 2px 6px;
    }

    .gigs > li .date .day {
        background: #f7f7f7;
        color: #333;
        font-size: 20px;
        padding: 6px 12px;
    }


.gigs > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}

    .gigs > li .details .artist {
        font-weight: bold;
        display: block;
    }

    .gigs > li .details .genre {
        font-size: 15px;
    }

    .gigs > li .actions {
        font-size: 15px;
        display: none;
    }

    .gigs > li:hover .actions {
        display: block; 
    }